# source:$p/sw/util/discord-as-a-service

[Unit]
Description=Start discord every evening

[Timer]
OnCalendar= *-*-* 19:00:00

[Install]
WantedBy=timers.target
